.main-image img {
  width: 100%;
  height: 100%;
}

.mat-dialog-container {
  display: flex;
  align-items: center;
}

.preview-images {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 1rem;
  left: 41rem;
}

.preview-image {
  width: 80px;
  height: 80px;
  margin: 0.6rem;
  background-color: white;
  padding: 0.4rem;
  position: relative;
}

.preview-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 20;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
