<div class="modal-container">
  <div>
    <div class="title">
      <h3>Add to Bicycle</h3>
    </div>
    <div class="subtitle">
      <p>Search and select a bicycle to add this part to.</p>
    </div>
    <div class="part">
      <img src="{{ part.imageUrl[0] }}" alt="" />
      <span>{{ part.name }}</span>
    </div>
  </div>
  <div>
    <mat-form-field appearance="standard">
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Search by type, year, name, etc."
        #input
      />
      <mat-icon color="accent" matPrefix>search</mat-icon>
    </mat-form-field>

    <div *ngIf="!input.value" class="no-input">
      <h3>Search to Find Results</h3>
    </div>

    <table *ngIf="input.value" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="bicycle">
        <th *matHeaderCellDef>Bicycle</th>
        <td mat-cell *matCellDef="let bicycle">
          <div class="table-bicycle">
            <img src="{{ bicycle.imageUrl[0] }}" alt="" />
            <span>{{ bicycle.name }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="compatibility">
        <th *matHeaderCellDef>Compatibility</th>
        <td mat-cell *matCellDef="let bicycle">
          <div>
            {{ part.compatibilities | json }}
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
  </div>
</div>
