.container {
  width: 100vw;
  height: 85vh;
  margin-top: 1rem;
  padding-top: 1rem;
}

.part-details-content {
  margin: 2rem auto;
  width: 70%;
}

.mat-grid-tile-content {
  align-items: flex-start;
}

.part-details-content-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-end;
}

.part-name {
  margin-bottom: 1rem;
}

.part-button {
  margin-bottom: 1rem;
}

.part-button button {
  background-color: #36A0ED;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
}

.part-description {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.part-description p {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.part-compatibility {
  margin-top: 1rem
}

.part-compatibility p {
  font-weight: 700;
}
