<div *ngIf="bicycle" class="bicycle-container">
  <div class="bicycle-details-content">
    <mat-grid-list cols="3" rowHeight="200px" gutterSize="5px">
      <mat-grid-tile colspan="2" rowspan="2">
        <img src="{{ bicycle.imageUrl[0] }}" alt="{{ bicycle.name }}" />
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="3">
        <cb-installed-parts [bicycle]="bicycle"></cb-installed-parts>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <img src="{{ bicycle.imageUrl[1] }}" alt="{{ bicycle.name }}" />
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <img src="{{ bicycle.imageUrl[2] }}" alt="{{ bicycle.name }}" />
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
