.bicycle-container {
  width: 100vw;
  margin-top: 2rem;
  padding-top: 1rem;
  background-color: #f4f5f5;
}

.bicycle-details-content {
  margin: 0rem auto;
  width: 70%;
}

.image-container > img {
  width: 100%;
  object-fit: cover;
}
