.banner-container {
  margin-top: 2rem;
}

.banner {
  position: relative;
}

.banner img {
  width: 100%;
  filter: contrast(80%);
}

.banner-text {
  color: white;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.banner-text h1 {
  font-size: 2.4rem;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 2px;
}

.banner-text p {
  letter-spacing: 2px;
}

.home-content {
  margin: 2rem 8rem;
}

.about-us {
  display: flex;
  justify-content: space-between;
}

.about-us-text {
  flex-basis: 60%;
  padding-right: 1rem;
}

.about-us-text h3 {
  color: #a5a5a5;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0.2rem;
}

.about-us-text h2 {
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.about-us-text p {
  max-width: 80%;
}

.about-us-image {
  flex-basis: 40%;
  padding-left: 1rem;
}

.about-us-image img {
  width: 100%;
  border-radius: 15px;
}
