.home-navbar {
  flex-direction: column;
  background-color: white;
}

.logo {
  font-size: 2rem;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 2px;
  margin-top: 1rem;
  user-select: none;
}

.home-nav-items {
  width: 185px;
  justify-content: space-between;
  text-decoration: none;
}

.home-nav-items a {
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}
