<div class="installed-parts-container">
  <div class="bicycle-name">
    <h2>{{ bicycle.name }}</h2>
  </div>
  <div class="installed-parts-text">
    <h3>Installed Parts</h3>
  </div>
</div>
<div *ngIf="installedParts.length === 0" class="no-parts">
  <h3>No parts yet</h3>
</div>
<div *ngFor="let part of installedParts" role="listitem">
  <div class="installed-part">
    <img src="{{ part.imageUrl[0] }}" alt="" />
    <span>{{ part.name }}</span>
    <mat-icon
      (click)="deletePart(part._id)"
      class="delete-button"
      style="color: #f55757"
      >highlight_off</mat-icon
    >
  </div>
</div>
